<?xml version="1.0" encoding="UTF-8"?>  
<web-app id="WebApp_ID" version="2.4"  
            xmlns="http://java.sun.com/xml/ns/j2ee"  
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
            xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  
                 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">  
   <display-name>DeviceDiscovery Service</display-name>  
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <context-param>
    <param-name>org.restlet.component</param-name>
    <param-value>component</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
    	WEB-INF/classes/applicationContext.xml
    </param-value>
  </context-param>
  
  <servlet>
    <servlet-name>deviceDiscoveryService</servlet-name>
    <servlet-class>org.restlet.ext.spring.SpringServerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>deviceDiscoveryService</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>


  <!--
=================================================================================================

  Security Configuration

  This configuration section establishes role-based access to (by default) all of the CCS resources.
  Each resource access requires at minimum a basic authentication to access.

=================================================================================================
-->


  <security-constraint>

    <display-name>DeviceDiscovery Service Security</display-name>

    <!--
         Defines an URL pattern to include all resource access to CCS.
         The HTTP method elements are not included meaning all HTTP requests must conform
         to the configured security constraints...
    -->
    <web-resource-collection>

      <web-resource-name>All Service Access to DDS</web-resource-name>

      <description>
        This configuration constraints all HTTP method access to all of the DDS resources.
      </description>

      <url-pattern>/*</url-pattern>

    </web-resource-collection>


    <!-- User roles required to access DDS resources... -->

    <auth-constraint>
      <role-name>ROLE_MODELER</role-name>
      <role-name>ROLE_DESIGNER</role-name>
      <role-name>ROLE_ADMIN</role-name>
    </auth-constraint>

  </security-constraint>

  <!-- At minimum, require HTTP Basic authorization... -->

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>DeviceDiscoveryService</realm-name>
  </login-config>

  <!-- Define the security roles... -->

  <security-role>

    <description>
      Access to the building modeler part of the Designer.
    </description>

    <role-name>ROLE_MODELER</role-name>

  </security-role>

  <security-role>

    <description>
      Access to the UI Designer part of the Designer.
    </description>

    <role-name>ROLE_DESIGNER</role-name>

  </security-role>

  <security-role>

    <description>
      ROLE_ADMIN is the administrator role for a specific account.
    </description>

    <role-name>ROLE_ADMIN</role-name>

  </security-role>

</web-app>
